*,
*::before,
*::after {
box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6, p{
margin-top: 0;
margin-bottom: 0;
}
ul{
margin-top: 0;
margin-bottom: 0;
padding-left: 0;
}
img{
display: block;
max-width: 100%;
}
.container {
width: 1158px;
padding-left: 15px;
padding-right: 15px;
margin:0 auto;
}
button {
cursor: pointer;
}

body {
    
font-family: "Roboto", sans-serif;
background-color: #ffffff;
color: #434455;}

a {text-decoration: none;
padding-left: 0;}  
a:hover,
a:focus{
text-decoration: none;
color: #404bbf;
}

h2{
font-family: "Roboto" 
font-weight: 700;
}

h3{
font-weight: 500;
}
  
ul {
list-style-type: none; 
}

  p{
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
  }       

/*------- ---------------header---------------- */

    
.header {
padding-top: 24px;
padding-bottom: 24px;
}

.nav-container{
display: flex;

 }
.nav {
display: flex;
align-items: baseline; 
}

.web {font-family: "Raleway", sans-serif;
display: flex;
gap: 0;
margin-right: 76px;
font-weight: 700;
text-transform:uppercase;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
 color: #4d5ae5;}

.web-logo {
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #2e2f42;
}
.header-links{
display: flex;
justify-content: center;
}
.nav-list{
justify-content: center;
display: flex;
gap: 40px;
margin-right: 332px;
}

 .nav-list-item{ 
  }
 
.nav-item-link {
display: flex;
gap: 40px;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
 }

    /* ----------address--------------- */

.address { 
font-style: normal;
}

.address-list {
display: flex;
gap: 40px;    
}
       

.address-item {}

.address-link  {   
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

/* ----------------------------------------------- */

/* -----------------main page-------------- */
.main {}

.effect {
background-color: #2e2f42;
padding-top: 188px;
padding-bottom: 188px;
}

.title {font-weight: 700;
max-width: 496px;
font-size: 56px;
text-align: center;
line-height: 1.07;
letter-spacing: 0.02em;
color: #fff;
margin: 0 auto;
padding-bottom: 48px;
}

.btn-text {
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff; 
}

 .btn{
display: block;
border-radius: 4px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background: #4d5ae5;
padding: 16px 32px;
border: none; 
margin: 0 auto;  
}
.btn:hover{
background: #404bbf;
}


 /*------------------features-------------------  */
 .features {
  padding-top: 123px;
  padding-bottom: 120px;
 }     
.f-main-hidden {
 position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
 border: 0;
 padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  }
     
.f-list {
  display: flex;
  gap: 24px;
}
         
.f-item {
display: block;
width: calc((100% - 3*24px) / 4);
}
                  
.f-subtitle {
  padding-bottom: 8px;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}
        
.f-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
          

 /*------------------our team -------------------  */
.our-team {
  padding-top: 120px;
  padding-bottom: 120px;
background: #f4f4fd;
}

.t-title {
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
text-transform: capitalize;
color: #2e2f42;
padding-bottom: 72px;
}

.t-list {
  display: flex;
  gap: 24px;
  ;
}

.t-item{
 width: calc((100% - 3*24px) / 4);
background-color: #FFFFFF
}

.team-image {
}
.description{
  text-align: center;
  padding: 32px 0;
}
.team-name {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
padding-bottom: 8px;}

.team-text {
color: #434455;
}

/* ------------------------------------- */

/* ---------------portfolio------------- */


.portfolio {}

.portfolio-name {
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
color: #2e2f42;
text-transform: capitalize;
text-align: center;
}

.oprtfolio-list {}

.oppoturnity {}

.portfolio-image {}

.port-name {
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}

.port-text {
 color: #434455;
}
/* ------------------------------------------------- */

/* ------------------------footer------------------- */
.logo-footer{
  
font-family: "Raleway",
sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #f4f4fd;
}
.footer-text{
color: #f4f4fd;
}